<ion-tabs>
    <p align="center"> Sensehack </p>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="favorites">
            <ion-icon name="flash"> </ion-icon>
            <ion-label> Favorites</ion-label>

        </ion-tab-button>

        <ion-tab-button tab="library">
            <ion-icon name="book"> </ion-icon>
            <ion-label> Library</ion-label>

        </ion-tab-button>

        <ion-tab-button tab="quotes">
            <ion-icon name="star"> </ion-icon>
            <ion-label> Quotes</ion-label>

        </ion-tab-button>

        <ion-tab-button tab="quote">
            <ion-icon name="star"> </ion-icon>
            <ion-label> Quote</ion-label>

        </ion-tab-button>

    </ion-tab-bar>

</ion-tabs>