<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Shop</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <p> Hello Shop Page</p>
  <button ion-button (click)="onBuyout({name: 'Milk', quantity: 2})">Milk</button>
  <button ion-button (click)="onBuyout({name: 'Bread', quantity: 3})">Bread</button>
  <button ion-button (click)="onBuyout({name: 'Apples', quantity: 4})">Apples</button>
  <button ion-button (click)="onBuyout({name: 'Coffee', quantity: 7})">Coffee</button>
  <!-- <page-buyout [productData]="test"></page-buyout> -->

  <hr>
  <hr>
  <p>Hello test data again</p>
  <p> {{ testData }} </p>
</ion-content>